.h2h-bank {
    border-collapse: collapse;
    margin-bottom: 5px;
   font-size: 0.68rem;


}

.h2h-bank thead tr {
    background-color: rgb(1, 117, 206);
    color: #ffff;
    text-align: left;
}

.h2h-bank th,
.h2h-bank td {
    padding: 1.15px 0px;

}




